.cover__subtitle {
  max-width: 360px;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  margin: 16px 0 0;
}

@media screen and (max-width: 568px) {
  .cover__subtitle {
    margin: 8px 0 8px;
    font-size: 14px;
    line-height: 16px;
  }
}